@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Palanquin+Dark:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

* {
    box-sizing: border-box;
    
}





/* ---- particles.js container ---- */
#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000000;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    z-index: -1;
    overflow: hidden;
    
}


main {
    height:100vh;
    width:100vw;
    position: relative;
    z-index: 5;
    overflow: hidden;

  transition: opacity 0.15s ease-in-out;  /* Adjust timing to your preference */
   
}

.landing {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 90%;
    gap: 5rem;
    padding-top: 10rem;
}

.landing-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;




}

.landing h1 {
    color: #FEFFEF;

    font-family: "Noto Serif";
    font-size: 128px;
    font-style: normal;
    font-weight: 700;
    margin: 0;
    line-height: 5rem;
    padding: 0;


}

.landing h2 {
    color: #FEFFEF;
    font-family: "Noto Serif";
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
}

.button-begin {
    color: #FEFFEF;
    font-family: Rubik;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    border: 2px #FEFFEF solid;

    padding: 2rem 2rem 2rem 2rem;
}

.flashScreen {    
    opacity:0;
     background:white; 
    position:absolute;
    width:100vw;
    height:100vh;
    top:0;
    left:0;
    transition:all;
}
.flash-anim {
    animation-name:flashanim;
    animation-duration: 4s;
    animation-direction: normal;
 

}
@keyframes flashanim {
    0% {
        opacity:1;
    }

    100% {
        opacity:0;
    }
}

.intro-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 0 2rem;
}
.segment1-div {
    height:100vh;
    width:100vw;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(7, 1fr);
    gap: 15px;
   padding: 0 4rem;
    overflow:hidden;

}

.p-pos-mid {
    grid-column: span 4 / span 4;
    grid-row: span 2 / span 2;
    grid-column-start: 1;
    grid-row-start: 4;
}

.p-pos-bot {

    grid-column: span 4 / span 4;
    grid-row: span 2 / span 2;
    grid-row-start: 6;

}
.p-pos-top {
 grid-column: span 4 / span 4;
    grid-row: span 2 / span 2;
    grid-row-start: 2;
}

.n-pos-top{
    grid-column: span 4 / span 4;
    grid-row: span 2 / span 2;
    grid-column-start: 6;
    grid-row-start: 2;
   
}
.n-pos-mid {
    grid-column: span 4 / span 4;
    grid-row: span 2 / span 2;
    grid-column-start: 6;
    grid-row-start: 4;
}
.n-pos-bot {
    grid-column: span 4 / span 4;
    grid-row: span 2 / span 2;
    grid-column-start: 6;
    grid-row-start: 6;
}

.center-text {
    color: #FEFFEF;
    font-family: "Noto Serif", serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
}

.intro-narrator {
    color: #FEFFEF;
    font-family: "Noto Serif";
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
}

.small-narrator{
    
color:#FEFFEF;
    font-family: "Quicksand";
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
}

.narrator-center {
    color:#FEFFEF;
    font-family: "Quicksand";
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    text-align: left;

    grid-column: span 5 / span 5;
    grid-row: span 2 / span 2;
    grid-column-start: 3;
    grid-row-start: 3;
}


.person {
    color: rgba(255,255,255,1);

    font-family: "Palanquin Dark";
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
}
.narrator{
color: #FEFFEF;

font-family: "Noto Serif";
font-size: 48px;
font-style: normal;
font-weight: 700;

}
.fade-to-grey {
    animation-name:fade-to-grey;
    animation-duration:1s;
    animation-iteration-count: 1;
    color: rgba(255,255,255,.2); 
}
@keyframes fade-to-grey {
    0% {color: rgba(255,255,255,1);}
    100% {color: rgba(255, 255, 255, 0.2);}
}
.nar {
   
    font-family: "Quicksand";
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
}
.grey-text {
    color: rgba(255,255,255,.2); 
}


.grey-button {
     animation-name:fade-button-to-grey;
    animation-duration:1s;
    animation-iteration-count: 1;
    color: rgba(255,255,255,.2); 
    border-color: rgba(255,255,255,.2);
}
@keyframes fade-button-to-grey {
    0% {color: rgba(255,255,255,1); border-color: rgba(255,255,255,1);}
    100% {color: rgba(255, 255, 255, 0.2); border-color: rgba(255,255,255,.2);}
}
/*box dissapears completely after click*/
/*remove anim on button*/

.button-cont {
    position: absolute;
    /* margin: 4rem; */
    bottom: 60px;
    z-index: 10;
    right: 60px;
    overflow: hidden;
}


.question-option:hover p {
  text-shadow: 0 0 8px rgba(255, 255, 255, 0.7);
}

.questionScreen{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 0 2rem;
}

.question-options-container {
     display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-top: 5rem;
}

.question-options-button {
    color:#FEFFEF;

    padding:1rem 2rem;
    cursor:pointer;

    border: 2px solid #FEFFEF;


}